<div class="review">
	<ul>
	{{#ng-each reviews~}}
		<li>
		{{#ensureperiod}}
		{{#if type}}({{type}}){{/if}}
		{{#any fname mname lname}}Reviewed by: {{/any}}
		{{fname}}{{#if mname}} {{mname}}{{/if}}{{#if lname}} {{lname}}{{/if}}
		{{/ensureperiod}}
		</li>
	{{~/ng-each}}
	</ul>
</div>
