<div class="finearts-galleryrepresentation">
	{{period (italic title)}}
	
	{{#ensureperiod}}{{collection-name}}, {{collection-location}}{{/ensureperiod}}

	{{period date-range}}

	{{>finearts_reviews}}

</div>
