<div class="finearts-commission">
  {{#ensureperiod}}{{name}}{{#if location}}, {{location}}{{/if}}{{/ensureperiod}}

  {{period role}}

  {{period (daterange startDate endDate)}}

  {{>finearts_reviews}}
</div>
