<div class="finarts-productions">

  {{#ensureperiod}}{{role}}{{#all role title}}, {{/all}} {{italic title}}{{/ensureperiod}}

  {{period (daterange (date startyear startmonth startday) (date endyear endmonth endday))}}

  {{#if venues}}
  {{>finearts_performances performances=venues}}
  {{/if}}

  {{>finearts_reviews}}
</div>
