<div class="finearts-galleryrepresentation">
	{{period (italic title)}}

	{{#ensureperiod}}{{collection-name}}, {{collection-location}}{{/ensureperiod}}

	{{daterange (date startyear startmonth startday) (date endyear endmonth endday)}}

	{{>finearts_reviews}}

</div>
